/* Navigation Container */
.navigation {
  overflow: hidden;
  background-color: #a6794b;
  padding: 30px;
  display: flex; /*flexbox*/
  justify-content: center;
  align-items: center;
}

/* Navigation Links */
.navigation a {
  color: white;
  text-decoration: none; /* Remove underline from navigation link */
  font-size: xx-large;
  font-weight: 800;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/* Main Body*/
body {
  background-color: #1c1c1c;
}

/* Hero image container* */
.imageContainer {
  display: flex;
  justify-content: center;
}

/* Hero Image */
.hero-image {
  width: 1200px;
  height: 500px;
  z-index: 1;
  padding-bottom: 25px;
}

/* Hero header container */
.hero-header {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* Hero Text */
.hero-header p {
  font-size: xxx-large;
  color: white;
  font-weight: 1000;
}

/* index Hero Image */
.index-hero-div {
  position: relative;
}

/* index Hero image*/
.index-hero-div img {
  width: 100%;
  height: 87vh;
  z-index: 1;
  padding-bottom: 25px;
}

/* index Hero Text */
.index-hero-div p {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  font-weight: 100;
  z-index: 2;
  font-family: "Brush Script MT", cursive;
}
/* footer */
.footer {
  position: fixed;
  background-color: #a6794b;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: large;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer content */
.footer li {
  color: white;
  align-items: center;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

/* Footer Links */
.footer a {
  text-decoration: none;
  color: white;
}
