/* Navigation Container */
.navigation {
  overflow: hidden;
  background-color: #a6794b;
  padding: 30px;
  display: flex; /*flexbox*/
  justify-content: center; /*Center items*/
  align-items: center; /*Center items*/
}

/* Navigation Links */
.navigation a {
  color: white; /* Change the link color from blue to white */
  text-decoration: none; /* Remove underline from navigation link */
  font-size: xx-large;
  font-weight: 800;
  padding-left: 25px;
  padding-right: 25px;
  display: flex; /*flexbox*/
  justify-content: center; /*Center items*/
  align-items: center; /*Center items*/
}

/* Main Body*/
body {
  background-color: #1c1c1c;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* Hero Image */
.reservation-hero-image {
  width: 1200px;
  height: 500px;
  z-index: 1;
  padding-bottom: 25px;
}

/* Hero header container */
.hero-header {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* Hero Text */
.hero-header p {
  font-size: xxx-large;
  color: white;
  font-weight: 1000;
}

/* Style for the form container */
.form-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Style for form labels */
.form-container label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

/* Style for input fields */
.form-container input[type="text"] {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style for date field */
.form-container input[type="date"] {
  margin-bottom: 15px;
  width: 15%;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

/* Style for time field*/
.form-container input[type="time"] {
  margin-bottom: 15px;
  width: 15%;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

/* Style for submit button */
.form-container input[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  background-color: #a6794b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

/* Form confirmation div */
.form-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin: 150px;
  /*  height: 100px;
  width: 500px; */
  background-color: #a6794b;
}
